<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>Edwin's Netlify Exercise</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-200 min-h-screen p-8">
    <div class="py-8">

        <h1 class="text-2xl mb-10 font-extrabold tracking-tight text-gray-900">
            Talk about how you made your site and why you chose the tools you did. Briefly explain one challenge you experienced in setting up this site and how you overcame it.
        </h1>

        <p class="mb-8">
            I am a big fan of <a href="https://flaviocopes.com/" class="text-lime-800 hover:underline">Flavio Copes</a> so following his projects in the past, I have experience using <a href="https://astro.build/" class="text-lime-800 hover:underline">Astro</a> and <a href="https://tailwindcss.com/" class="text-lime-800 hover:underline">Tailwind CSS</a>. So for this exercise I decided to use an empty Astro project with simple styling and Tailwind CSS and make a super simple webpage with the requested answers. I would have loved to get more in-depth with the project but am cut short for time.
        </p>
        <p class="mb-8">
            The biggest challenge I faced was spinning up a new GitHub instance as my local machine had some misconfigured git config files so I resorted to using GitHub Desktop to get this repository configured and authenticated. 
        </p>
       

        <h1 class="text-2xl mb-10 font-extrabold tracking-tight text-gray-900">
            What did you think of our service during the time you used it? Provide some constructive criticism or some features that impressed you.
        </h1>

        <p class="mb-8">
            I have used Netlify in the past for some projects and it is really simple to use. Admittedly I do not believe I have scratched the surface of all of the capabilities Netlify offers but the GitHub integration has worked seamlessly for me. I would say a feature that I have not used but has impressed me is the drag and drop deploy functionality. Netlify has a rich integration suite as well that seems like it would be exciting to support!
        </p>

        <h1 class="text-2xl mb-10 font-extrabold tracking-tight text-gray-900">
            Rank your 5 favorite and 5 least favorite activities from this <a href="https://gist.github.com/laurajodz/592402a6336410377dee1a744af846ab" class="text-lime-800 hover:underline">list</a>.
        </h1>

		<p class="mb-8">
            As a disclaimer I am splitting hairs here as I am not against any of the activities as they are all vital in a well run support organization. My intent was to emphasize things I really enjoy (technical troubleshooting, learning new tools/technologies, helping others). I do not feel strongly against what I selected as my least favorite activies but for the sake of the exercise those came to mind.
        </p>

        <h1 class="text-xl mb-10 font-extrabold tracking-tight text-gray-900">
            Favorite
          </h1>

        <ol class=" mb-8 list-decimal pl-8">
            <li class="mb-2">Debug a customer's build using a programming language and framework that you've never seen before</li>
            <li class="mb-2">Set up your own copy of several site frameworks for debugging</li>
            <li class="mb-2">Help train and onboard new support teammates</li>
            <li class="mb-2">Work with a customer to figure out if Netlify's service can solve a particular workflow or integration challenge they have</li>
            <li class="mb-2">Dig through server logs to troubleshoot a customer's website behavior</li>
          </ol>

          <h1 class="text-xl mb-10 font-extrabold tracking-tight text-gray-900">
            Least Favorite
          </h1>

        <ol class=" mb-8 list-decimal pl-8">
            <li class="mb-2">Manage a Support team</li>
            <li class="mb-2">Engage multiple users at once via chat to answer their questions and troubleshoot problems</li>
            <li class="mb-2">Respond to Netlify customers on Twitter</li>
            <li class="mb-2">Work with prospective customers to explain our service and the pricing model</li>
            <li class="mb-2">Suggest and champion improvements to the Support team's workflow</li>
          </ol>

        <h1 class="text-2xl mb-10 font-extrabold tracking-tight text-gray-900">
            Provide a link to documentation for a technical/developer-focused product, which you think are well done, and explain why you think they are well done.
        </h1>

		<p class="mb-8">
            Admittedly this is coming from an extreme place of bias as I have had a major hand in this but my answer would be <a href="https://docs.ipdata.co" class="text-lime-800 hover:underline">Ipdata's Developer Documentation</a>. Our aim was to make the documentation easy to understand, clean visually, with a lot of relevant examples for somone getting started with the Ipdata API.
        </p>

        <h1 class="text-2xl mb-10 font-extrabold tracking-tight text-gray-900">
            Explain, in a couple of paragraphs, what you think are two major challenges around DNS configuration for less-technical customers hosting websites.
        </h1>

		<p class="mb-8">
            The first issue for a less-technical customer working with DNS configuration in website hosting is that DNS configuration is highly technical with a lot nuances. It is not something I would consider beginner friendly. Take for example the following configuration requirements from <a href="https://www.hivelocity.net/kb/dns-configuration-everything-you-need-to-know/" class="text-lime-800 hover:underline">Hivelocity</a>. 
            There is a lot of DNS related terminology (TLD, A-Records, CNAME-Records etc.) and associated configurations that will cause a website to break if not configured correctly. Additonally, hosting providers vary and DNS configurations from a UI standpoint may or may not be as user friendly. In the case of Netlify there are additional <a href="https://docs.netlify.com/domains-https/custom-domains/configure-external-dns/" class="text-lime-800 hover:underline">configuration steps</a> that must be done if your domain is externally registered.
        </p>

        <p class="mb-8">
            The second issue here is that DNS propagation takes time up to 72 hours and this can lead to customers thinking their setup is not correct when the issue at hand is just propagation time. I have seen examples of support tickets create for this style of issue quite often for differing platforms.
        </p>

        <h1 class="text-2xl mb-10 font-extrabold tracking-tight text-gray-900">
            A customer writes in to Support saying simply that their “site won’t build”. You have access to their build logs, and there you see this error: Build failed due to a user error: Build script returned non-zero exit code: 2. You have no more information than this and the site’s source repository is private so you cannot test the build yourself. How would you troubleshoot this issue? What steps would you take? Also, please compose your best customer-facing first response.
        </h1>

        <h6 class="text-xl mb-10 font-extrabold tracking-tight text-gray-900">Initial thoughts</h6>

		<p class="mb-8">
            For this particular issue given the circumstances we are going to have to probe the user for more information. We can lead in with sharing our findings in the build logs but we will need to request additonal information. Ideally we can either reproduce the issue or have the user check if their build logs produce more infromation i.e. this example I found on the <a href="https://answers.netlify.com/t/failed-during-stage-building-site-build-script-returned-non-zero-exit-code-2-netlify/73339" class="text-lime-800 hover:underline">support forums</a> due to the instance of a private source repository. I also wonder if <a href="https://docs.netlify.com/configure-builds/troubleshooting-tips/#organization-owned-private-repository" class="text-lime-800 hover:underline">this scenario</a> is relevant.

        <h6 class="text-xl mb-10 font-extrabold tracking-tight text-gray-900">Proposed Support Response</h6>

		<p class="mb-8">
            Hello user,
        </p>

        <p class="mb-8">
            This is Edwin with Netlify support. As I understand you are encountering an issue with your site build. Given that your are integrating with Netlify using a private repository we have a limited visibility in your website and it's configuration. We have access to a paired down version of your build logs and we found the following error <code>Build failed due to a user error: Build script returned non-zero exit code</code>.
        </p>

        <p class="mb-8">
            As a next step, on your end may you provide a full copy of the build logs? This will enable us to take a deeper dive into the specific error(s) encountered. If you are able and willing we would be happy to review your configuration including your build configuration, associated scripts, and dependencies. If you are able to give us more insight in to the frameworks/tools used or make the repository public/or share a local copy we will be happy to review your setup further.
        </p>

        <p class="mb-8">
            We look forward to your reply!
        </p>

        <h1 class="text-2xl mb-10 font-extrabold tracking-tight text-gray-900">
            How would you set up an http 301 status redirect from “/netlify/anything” on your site, to https://www.google.com/search?q=anything. Please provide the redirect formatting here. Now, how about a proxy redirect? Please add that proxy redirect rule directly to your site.
        </h1>

		<p class="mb-8">
            Based on the following <a href="https://docs.netlify.com/routing/redirects/" class="text-lime-800 hover:underline">guide</a> there are a few ways to accomplish this. One would be to create a <code>_redirects</code> file in your root folder. An example of how this would look is.
        </p>
        <p class="mb-8">
        <code>
            /netlify/anything https://www.google.com/search?q=:anything 301
        </code>
        </p>

        <p class ="mb-8">
            Since I am using Astro I created a <a href="https://github.com/boricuababyhuey/exercise/blob/main/src/functions/proxy.js" class="text-lime-800 hover:underline">proxy.js</a> file and I updated my 
            <a href="https://github.com/boricuababyhuey/exercise/blob/main/astro.config.mjs"class="text-lime-800 hover:underline">astro.config.mjs file</a> to set up the proxy. I had to dig around the web to get some insight here so I may be a little bit off or this could use some fine tuning. When I check my deploy summary it says no redirect rules are processed so this may require further troubleshooting on my end.
        </p>

        <h1 class="text-2xl mb-10 font-extrabold tracking-tight text-gray-900">
            Please attempt to deploy a function on our service. This need not be complicated. It could be "Hello World". Note that failure to deploy is not failing the exercise! Whether you have trouble or not, please describe what you experienced and how you attempted to troubleshoot any issues you encountered.
        </h1>

		<p class="mb-8">
            I attemped to deploy a function but it is apparently not working. I tested by navigating to https://main--beautiful-paletas-717b65.netlify.app/.netlify/functions/hello_world. I created a hello_world.js file in my <a href="https://github.com/boricuababyhuey/exercise/tree/main/functions" class="text-lime-800 hover:underline">functions folder</a> and updated my <a href="https://github.com/boricuababyhuey/exercise/blob/main/astro.config.mjs"class="text-lime-800 hover:underline">astro.config.mjs file</a>. Unfortunately due to a lack of time I will need to stop here but normally I would spend more time troubleshooting.
        </p> 
        </p>

        <h1 class="text-2xl mb-10 font-extrabold tracking-tight text-gray-900">
            We understand you don't know anything about our internal procedures at this stage, but we want you to explain at a high level how you'd react to this situation: You receive a report of a severe security issue on www.netlify.com. You can't immediately confirm the report, so what steps might you take to investigate or substantiate the report? What might you say to the reporter, even though we haven't confirmed their assertion yet, that will instill confidence that our business is very concerned about security? You believe there is a reasonable chance the report is correct and the problem is very large and impactful. How might you escalate?
        </h1>

        <p class="mb-8">
            Initially I would write a message to the customer (see below). I imagine that Netlify has a privacy/security officer and some sort of internal escalation process so I would leverage that. Regardless of how insignificant a security issue may be, if not an issue at all in the interest of caution the proper procedure and escalation should be followed. I would rather be wrong and raise the alarm rather than let something serious go unnoticed.

        <p class="mb-8">
            Hello customer,
        </p>

        <p class="mb-8">
            Thank you for the detailed report indicating a severe security issue issue with netlify.com. We have engaged the appropriate parties internally on this and as we investigate we will keep you apprised of any and all updates on this matter.
        </p>

    </div>
</body>

</html>
