<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>Edwin's Netlify Exercise</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-200 min-h-screen p-8">
    <div class="py-8">

        <h1 class="text-3xl mb-10 font-extrabold tracking-tight text-gray-900">
            Talk about how you made your site and why you chose the tools you did. Briefly explain one challenge you experienced in setting up this site and how you overcame it.
        </h1>

        <p class="mb-8">
        I am a big fan of <a href="https://flaviocopes.com/" class="text-lime-800 hover:underline">Flavio Copes</a> so following his projects in the past, I have experience using <a href="https://astro.build/" class="text-lime-800 hover:underline">Astro</a> and <a href="https://tailwindcss.com/" class="text-lime-800 hover:underline">Tailwind CSS</a>.
        </p>

        <h1 class="text-3xl mb-10 font-extrabold tracking-tight text-gray-900">
            Question 2
        </h1>

        <p class="mb-8">
            This is going to be the placeholder for question 2.
        </p>

        <h1 class="text-3xl mb-10 font-extrabold tracking-tight text-gray-900">
            Question 3
        </h1>

		<p class="mb-8">
            This is going to be the placeholder for question 3.
        </p>

        <h1 class="text-3xl mb-10 font-extrabold tracking-tight text-gray-900">
            Question 4
        </h1>

		<p class="mb-8">
            This is going to be the placeholder for question 4.
        </p>

        <h1 class="text-3xl mb-10 font-extrabold tracking-tight text-gray-900">
            Question 5
        </h1>

		<p class="mb-8">
            This is going to be the placeholder for question 5.
        </p>

        <h1 class="text-3xl mb-10 font-extrabold tracking-tight text-gray-900">
            Question 6
        </h1>

		<p class="mb-8">
            This is going to be the placeholder for question 6.
        </p>

        <h1 class="text-3xl mb-10 font-extrabold tracking-tight text-gray-900">
            Question 7
        </h1>

		<p class="mb-8">
            This is going to be the placeholder for question 7.
        </p>

        <h1 class="text-3xl mb-10 font-extrabold tracking-tight text-gray-900">
            Question 8
        </h1>

		<p class="mb-8">
            This is going to be the placeholder for question 8.
        </p>

        <h1 class="text-3xl mb-10 font-extrabold tracking-tight text-gray-900">
            Question 9
        </h1>

        <p class="mb-8">
            This is going to be the placeholder for question 9.
        </p>

    </div>
</body>

</html>
